body,ul,li,p,a,span,h1,h2,h3,h4,h5,i{
	 margin: 0;
     padding:0;
     list-style: none;
         /*font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-serif;*/
    font-family:"Helvetica","Droid Sans Fallback","Heiti SC",sans-serif;
     text-decoration: none;
     font-size: 12px;
     color: #666;
     font: inherit;
    

}
body{
	background:#F4F4F4;
}

img{
	border:0;
}
a{
	 font-size: 0;
}
/*header*/

header{
	width: 100%;
	height:50px;
	background:#F7F7F7;
	border-bottom: 1px solid #DDD;
	box-sizing: border-box;
    font-size: 0;
    padding: 7px;

}
header input{
	width: 100%;
	height:36px;
	margin: 0 auto;
	box-sizing: border-box;
	border: none;
	outline: none;
	border: 1px solid #E8E8E8;
	border-radius: 4px;
	font-size: 14px;
	padding: 0 12px;
}
section{
	width: 100%;
	height: auto;
}
/*banner*/
.swiper-container{
	width: 100%;
	height: 176px;	

}


.swiper-slide:nth-child(2){

	background: url(../images/t01c2bdb5ac6c459534.webp)no-repeat center center;
}
.swiper-slide:nth-child(1){

	background: url(../images/t01eb1a3919f66a94b3.webp)no-repeat center center/100%;
}
.swiper-slide:nth-child(3){

	background: url(../images/t0159d5be2dbe5ce809.webp)no-repeat center center/100%;
}
.swiper-slide:nth-child(4){
	
	background: url(../images/t01c2bdb5ac6c459534.webp)no-repeat center center/100%;
}
.swiper-slide:nth-child(5){

	background: url(../images/t0189c91b7021e9534e.jpg)no-repeat center center/100%;
}

.swiper-slide:nth-child(6){

	background: url(../images/t01a6d54efa40f901a0.webp)no-repeat center center/100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff!important;
}



/*yingyong*/

  .yinyong-box{
  	width: 100%;
  	background: #FFF;
  	height: 122px;
  	box-sizing:border-box;
    border-bottom: 1px solid #EAEAEA;
    overflow: hidden;
    padding: 18px 0 0 0;
  }

  .yinyong{
  	width: 25%;
  	height: auto;
  	float: left;
  	text-align: center;

  }


  .yinyong a img{
  	width: 60px;
  	height: 60px;
  }

  .yinyong a span{
    display: block;
    font-size: 14px;
    margin-top: 7px;
    color: #666;

  }


  .first-news{
  	width: 100%;
  	height: 44px;
  	background: #FFF;
    padding: 16px 16px;
    box-sizing:border-box;
  }
  .first-news span{
  	display: block;
	border-right: 1px solid #E1E1E1;
    float: left;
    font-size: 14px;
    height: 18px;
    padding-right: 7px;
}
.first-news span img{
	font-size: 14px;
    height: 18px;
    overflow: hidden;
    width: 75px;
}

.dowebok{
	height: 16px;
    line-height: 16px;
    overflow: hidden;
      position: relative;


}
.dowebok .fllbox{
	color: #444;
	font-size: 11px;
	line-height: 16px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	
}

.fllbox li a{
     display: block;
    font-size: 13px;
    height: 16px;
    line-height: 16px;

}
.fllbox li em{
     color: #F66; 
     float: left; 
     font-style: normal; 
     padding: 0 6px; 
}
.fllbox li a i{
    display: block;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    color: #666;
    z-index: 99999999999;
    text-overflow: ellipsis;
    padding-right: 20px;
    /*-o-text-overflow: ellipsis;*/
    white-space: nowrap;

}





.buy-box{
	background: #FFF;
    margin-top: 12px;
}

.buy-top{
	width: 100%;
	border-bottom: 1px solid #EAEAEA;
    clear: both;
    height: 45px;
    line-height: 45px;
    padding: 0 18px;
    position: relative; 
    background: #fff;
    box-sizing:border-box;
}
.buy-top .qiang{
	color: #FF5555;
	font-family: sans-serif;
    display: inline-block;
    font-size: 16px;
    float: left;
}



.starttime{
	color: #222;
    display:block;
    font-size: 14px;
    margin-left: 10px;
    float: left;
    line-height: 44px;
    /*padding: 8px 0 8px 0;*/
    box-sizing:border-box;
}

.starttime .end{
	width: 50px;
	height: 14px;
	display: block;
	float:left;
}

.starttime .dian{
    display: block;
    float: left;
}
.starttime .hour{
	width: 20px;
	height: 14px;
	display: block;
	float:left;
	margin-top: 15px;
	line-height:15px;
	text-align: center;
	border: 1px solid #AAAAAA;
}
.starttime .minute{
	width: 20px;
	height: 14px;
	display: block;
	float:left;
	margin-top: 15px;
	margin-left: 5px;
	line-height: 15px;
	text-align: center;
	border: 1px solid #AAAAAA;
}

.starttime .second{
	width: 20px;
	height: 14px;
	display: block;
	float:left;
	margin-left: 5px;
	margin-top: 15px;
	line-height:15px;
	text-align: center;
	border: 1px solid #AAAAAA;
}




.buy-top a{
	width: 108px;
	height: 45px;
	float: right;
	color: #222;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    box-sizing:border-box;
}
.swiper-container2{
	width: 100%;
	height: 187px;
	overflow: hidden;
}
.swiper-container2 .ones{
	overflow: hidden;
}
.swiper-container2 .swipers{
	width: 33.33333%;
	height: 100%;
	background: #fff;
	float: left;
	padding: 12px  0 12px 0;
	box-sizing:border-box;
	 border-bottom: 1px solid #EAEAEA;

}
.swipers a{
	display: block;
    /*padding: 10px 0 12px 0;*/
    box-sizing:border-box;
      border-right: 1px solid #EAEAEA;
   
  
}
.swipers a:nth-child(3){
	border: 0;
}
.swipers a img{
	height:114px;
    width: 114px;
    margin: 0 6px;
}
.banner-title{
	display: block;
	color: #555;
	margin: 6px 6px 0;
    font-size: 13px;
    height: 19px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.banner-price{
	color: #F55;
    display: block;
    font-size: 14px;
    margin: 6px 6px 0;
    text-align: center;
}
.banner-price i{
	color: #AAA;
    font-size: 10px;
    font-style: normal;
    text-decoration: line-through;
}


/*明星单品*/

.product-box{
	width:100%;
	height:auto;
}

.foot-title{
	color: #666;
    display:block;
    font-size:14px;
    font-weight: 400;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 100%;
    box-sizing:border-box;
}
.product-box .list{
    width:100%;
    height: auto;
    box-sizing:border-box;
}

.list li{
	border-right: 1px solid #F1F1F1;
    padding: 18px 9px;
    text-align: center;
    width: 50%;
    height: auto;
    box-sizing:border-box;
    background: #fff;
    float: left;
    border-bottom: 1px solid #F1F1F1;
}
.list li:nth-child(2n){
	border-right: 0;
	
}



.list li a{
	display: block;

}

.list li a .tubiao{
	border: 1px solid #E1E1E1;
    border-radius: 24px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 4px 11px 4px 5px;
    vertical-align: middle;

}
.list li .tubiao img{
	float: left;
    height: 20px;
    overflow: hidden;
    width: 20px;
}
.list li .tubiao em{
	color: #222;
    float: left;
    font-style: normal;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-left: 6px;
}

.list li .imgs{
	display: block;
 margin: 10px 0px 0;
 text-align: center;
}

.list li .imgs  img{
	display: block;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.list li .span-title{
	display: block;
	color: #555;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    margin: 9px  9px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list li .span-price{
	color: #F55;
    display: block;
    font-size: 14px;
    margin: 7px 10px 0;
    text-align: center;
}
.span-price em{
	font-size: 13px;
}
.price{
	color: #AAA;
    font-size: 11px;
    font-style: normal;
    text-decoration: line-through;
}

.floor-mark{
	 background: #F66;
    border-radius: 1px;
    color: #FFF;
    display: inline-block;
    font-size: 10px;
    margin-left: 6px;
    /*padding-top: 1px;*/
    padding-right: 2px;
    padding-left: 2px;
    text-indent: 0;
    /*margin-top: 1px;*/
    /*box-sizing:border-box;*/
    vertical-align: middle;
}




/*新品上市*/
   .new-product{
   		width: 100%;
   		height: auto;
   		clear: both;
   }

  .item{
  	width: 100%;
  	height: auto;
  }


  .foot-titlee{
	color: #666;
    display: block;
    font-size:14px;
    font-weight: 400;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 100%;
    clear: both;
    /*box-sizing:border-box;*/
}


   .item li a{
   	    background: #FFF;
   	     /*padding: 0 16px;*/
   	     display: block;
      margin-bottom: 12px;

   }
    .item li a span{
    	position: relative;
    	width: 100%;
    	height: auto;
    	display: block;

    }
    .item li a span i{
    background: rgba(0,0,0,0.4);
    border-radius: 65px 0 0 65px;
    bottom: 25px;
    color: #FFF;
    display: block;
    position: absolute;
    font-size: 14px;
    font-style: normal;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 65px;
    }
   .item li img{
		width: 100%;
		height: auto;
   } 

   .item  li strong{
   	color: #222;
    display: block;
    font-size: 14px;
    margin-top: 14px;
    padding: 0 16px;
   } 
	.item  li p{
	color: #999;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin-top: 7px;
    overflow: hidden;
    padding-bottom: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:0px  16px 16px 16px;
	}

  .phone{
  	width: 100%;
  	height: auto;
  	clear: both;
  }

.phone-img{
	width: 100%;
	display: block;
	height: auto;
	 clear: both;
}
.phone-img img{
	width: 100%;
	height: 176px;
}
.item li a:nth-child(4){
	margin: 0;
}

.phone .items{
	width: 100%;
	height: auto;

}
.phone .items li{
	width: 50%;
	/*height: auto;*/
	float: left;
	height: auto;
	background: #fff;
	border-right: 1px solid #F1F1F1;
	border-bottom: 1px solid #F1F1F1;
    padding: 18px 0 10px;
     text-align: left;
     box-sizing:border-box;
     background: #fff;
}
.phone .items li:nth-child(2n){
	border-right: 0;
}
.phone .items li a{
	display: block;
	padding:0 10px;
}
.items li a img{
	display: block;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    width:167.5px;
    height: 167.5px;
}
.items .biaoti{
	color: #555;
    font-size: 13px;
    height: 19px;
    line-height: 19px;
    margin: 9px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    /*-o-text-overflow: ellipsis;*/
    white-space: nowrap;
}
.items-wenzi{
	color: #999;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    margin:5px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-price{

	color: #F55;
    display: block;
    font-size: 14px;
    margin: 6px 10px 0;
}

.items-money{
	color: #AAA;
    font-size: 10px;
    font-style: normal;
    text-decoration: line-through;
}

.items-rexiao{

	background: #F66;
    border-radius: 1px;
    color: #FFF;
    font:inherit;
    display: inline-block;
    font-size: 10px;
    margin-left: 6px;
    float: right;
    /*padding-top: .1rem;*/
    padding-right: 2.5px;
    padding-left: 2.5px;
    text-indent: 0;
    vertical-align: middle;
}

   /*智能家居*/







/*footer*/

footer{
   width: 100%;
   height: auto;
   clear: both;

}

.ftitle{
   	width: 100%;
    background: #F4F4F4;
    border-bottom: 1px solid #CCC;
    color: #666;
    display: block;
    clear: both;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.help-box{
   	width:100%;
   	height:auto;
   	clear: both;
   	background: #fff;
   	box-sizing:border-box;
}
.content-box{
   	padding: 16px 0;
   	width: 100%;
   	height: auto;
   	clear: both;
   	overflow: hidden;
   	box-sizing: border-box;


}
.content-item{
   	width: 33.333333%;
   	height: auto;
   	float: left;
   	color: #666;
   	display: block;
    font-size: 14px;
	border-right: solid 1px #D6D6D6;
	box-sizing:border-box;
}
 .content-item:nth-child(3){
 	border: 0;
}
.day-box{
   	border: 1px solid #AAA;
    border-radius: 60px;
    color: #666;
    display: block;
    font-size: 12px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;
    width: 36px;
}
.day-size{
    display: block;
    height: 14px;
    line-height: 14px;
    margin-top: 9px;
    text-align: center;
}

.help-number{
	width: 100%;
	border-top: solid 1px #D6D6D6;
    font-size: 10px;
    line-height:44px;
    text-align: center;
}
.mail-sc{
	font-size: 10px;
    line-height: 10px;
    padding-bottom: 10px;
}


.menu-box{
	background: #fff;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    bottom: 0;
    height:64px;
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 111
}

.menu-box .menu li{
	width: 25%;
	height: 100%;
	float: left;
}
.menu li a .home{
	display: block;
	background: url(../images/t011a7cd356bb976213.png) no-repeat;
    background-size: 60px 40px;
    height:40px;
    margin: 0 auto;
    width: 60px;
}
.menu li a .catery{
	display: block;
	background: url(../images/t01e287c3490e3f14da.png) no-repeat;
    background-size: 60px 40px;
    height:40px;
    margin: 0 auto;
    width: 60px;
}

.menu li a .shopping{
	display: block;
	background: url(../images/t01069055004f2dcc51.png) no-repeat;
    background-size: 60px 40px;
    height:40px;
    margin: 0 auto;
    width: 60px;
}
.menu li a .my{
	display: block;
	background: url(../images/t01821a03716758d2e1.png) no-repeat;
    background-size: 60px 40px;
    height:40px;
    margin: 0 auto;
    width: 60px;
}







.menu li a .zitii{
	color: #19a243;
	display: block;
    font-size: 11px;
    text-align: center

}

.menu li a .ziti{
	color: #555;
	display: block;
    font-size: 11px;
    text-align: center
}

.boxxx{
	width: 100px;
	height: 4000px;

}


















